@model Sistema_de_Facturacion_EPA.Models.Cliente

@{
    ViewData["Title"] = "Editar Cliente";
}

<h2>Editar Cliente</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="IdCliente" />

    <div class="mb-3">
        <label asp-for="NombreCompleto" class="form-label"></label>
        <input asp-for="NombreCompleto" class="form-control" />
        <span asp-validation-for="NombreCompleto" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Telefono" class="form-label"></label>
        <input asp-for="Telefono" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Correo" class="form-label"></label>
        <input asp-for="Correo" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Direccion" class="form-label"></label>
        <input asp-for="Direccion" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="FechaRegistro" class="form-label"></label>
        <input asp-for="FechaRegistro" type="date" class="form-control" />
    </div>

    <button type="submit" class="btn btn-warning">Actualizar</button>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}